h1
{
  padding-left: 12cm;
  padding-right: 12cm;
}
nav{
  padding-left: 12cm;
  padding-right: 12cm;
}
img {
  width: 50%;
  height: 50%;
  margin: 0;
  padding-left: 8cm;
  padding-right: 8cm; 
}
figcaption{
  padding-left: 10cm;
  padding-right: 10cm;
}
p{
  padding-inline: 2cm; ;
}
div
{
  background-color: red;
  float: left;
}